/* CSS Code, der für alle Web Pages gleich ist */

.webpage {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  /* min-height: bewirkt, dass der Footer zuunterst ist. */
  min-height: 100vh;
  /* padding, margin: 0: bewirkt, dass es mit 100vh zuunterist */
  padding: 0;
  margin: 0;
}

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
}

.left-nav, .right-empty {
  flex: 1;
}

nav {
  padding-left: 10%;
}

.logo {
  height: 100px;
}

.nav-link {
  font-weight: bold;
  margin: 20px;
  color: #000;
  text-decoration: none;
}

.active-link {
  text-decoration: underline;
}

.content {
  flex-grow: 1;
  background-color: #fff;
}

.promotext {
  max-width: 80%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.promobutton {
  padding: 24px;
}


.main-image {
  max-width: 100%;
}

.footer {
  background-color: #ff9248;
  height: 50px;
}