/* CSS Code, den es für die Start Page braucht */
.content {
    flex-grow: 1;
    background-color: #2b2926;
    color: white;
}

.promotext {
    max-width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.promobutton {
    margin: 20px;
    padding: 10px 48px;
    font-family: Barlow, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    background-color: #e0bf8f;
    border: none;
    color: white;
}

.promobutton:hover {
    background-color: #c1a16e;
}


.main-image {
    max-width: 100%;
}

.lookbook-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.preview-bilder {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.store-item {
    flex-basis: 16%;
    width: 80%;
}

.store-item p {
    font-size: small;
}

.store-item-image {
    width: 80%;
    margin-bottom: -10px;
    border: 3px solid #54514c;
}

@media only screen and (max-width: 850px) {
    .store-item {
        flex-basis: 33%;
        width: 80%;
    }

}

@media only screen and (max-width: 500px) {
    .store-item {
        flex-basis: 50%;
        width: 80%;
    }

}