/* CSS Code, den es für die Start Page braucht */
.content {
    flex-grow: 1;
    background-color: #01454f;
    color: white;
}

.promotext {
    max-width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.promobutton {
    margin: 20px;
    padding: 10px 48px;
    font-family: Barlow, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    background-color: #DCBD11;
    border: none;
    color: white;
}

.promobutton:hover {}


.main-image {
    max-width: 100%;
}

.lookbook-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.preview-bilder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.store-item {
    flex-basis: 16%;
}

.store-item-image {
    width: 80%;
    height: 80%;
    margin-bottom: -10px;
}