.content {
  color: white;
  align-items: center;
  text-align: center;
}

.slideshow-container,
.slideshow-container-2 {
  position: relative;
  width: 100%;
  max-width: 800px;
  /* Anpassen der maximalen Breite */
  margin: 10px auto;
  overflow: hidden;
}

.slide {
  display: none;
}

.slide.active,
.slide.active2 {
  display: block;
}

.slide img {
  width: 100%;
  height: auto;
}

.nextBild {
  margin: 20px;
  padding: 10px 48px;
  font-family: Barlow, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  background-color: #e0bf8f;
  border: none;
  color: white;
}

.nextBild:hover {
  background-color: #c1a16e;
}


.nextBild {
  margin: 20px;
  padding: 10px 48px;
  font-family: Barlow, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  background-color: #e0bf8f;
  border: none;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.nextBild:hover {
  background-color: #c1a16e;
  border-radius: 2px;
  padding: 10px 56px;
}

.arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg) translateY(7px) translateX(1px);
  opacity: 0;
  transition: 0.3s;
}

.nextBild:hover .arrow {
  transform: rotate(45deg) translateY(-5px) translateX(15px);
  opacity: 1;
}



h1 {
  margin-top: 50px;
}

h2 {
  margin-top: 10px;
}