/* CSS Code, den es für die Promotion Page braucht */
.content{
    background-color: #e9f90bc9;
}
.game{
    background-color: #3e5bb8;
    margin: 50px 250px 100px 250px;
    height: 600px;

}

#formContainer {
  padding: 50px;
  width: 40%;
  margin: auto;
}

form label {
    display: inline-block;
    text-align: left;  
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"] {
    display: block; 
    width: 100%; 
    padding: 5px;
    margin-bottom: 10px;
}

form input[type="checkbox"] {
  margin-right: 5px;
}

form input[type="submit"] {
  background-color: #0675b6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #060606;
}
.hidden{
    display: none;
}