/* CSS Code, den es für die Promotion Page braucht */


.hidden {
  display: block;
}

.content-game {
  min-height: 600px;
}

#game-container {
  max-width: 600px;
  margin: auto;
}

#game {
  position: relative;
  height: 300px;
  cursor: pointer;
}

.game-info {
  margin-top: 12px;
  margin-bottom: 12px;
}

#game-end {
  margin-top: 12px;
  margin-bottom: 12px;
}


/* Elemente im Spiel */
#game-background {
  position: absolute;
  width: 600px;
  height: 300px;
  background-image: url("../images/livingroom.png");
  background-size: cover;
}

.bg-animation {
  animation: moveBg 10.33s linear infinite;
}

@keyframes moveBg {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -600px 0;
  }
}

#game-dino {
  height: 75px;
  width: 100px;
  top: 225px;
  position: relative;
  background-image: url("../images/woman.png");
  background-size: cover;
}

.dino-dies {
  background-color: red;
}

#game-rock {
  width: 60px;
  height: 55px;
  position: relative;
  top: 175px;
  left: 550px;
  background-image: url("../images/table.png");
  background-size: cover;
}

.rock-animation {
  animation: rock 1.33s infinite;
}

@keyframes rock {
  0% {
    left: 550px;
  }

  100% {
    left: -50px;
  }
}

.jump-animation {
  animation: jump 0.5s;
}

@keyframes jump {
  0% {
    top: 225px;
  }

  50% {
    top: 75px;
  }

  75% {
    top: 75px;
  }

  100% {
    top: 225px;
  }
}

#game-start {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0.7;
  background: black
}

.startScreenText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

#game-score {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
}



#formContainer {
  padding: 50px;
  width: 40%;
  margin: auto;
}

form label {
  display: inline-block;
  text-align: left;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

form input[type="radio"] {
  margin-right: 5px;
}


#submit {
  padding: 10px 48px;
  font-family: Barlow, sans-serif;
  font-size: 124x;
  font-weight: bold;
  border-radius: 12px;
  background-color: #e0bf8f;
  border: none;
  color: white;
  transition: 0.3s;
}

#submit:hover {
  background-color: #c1a16e;
  border-radius: 2px;
}

#submit:disabled {
  background-color: #54514c;
}

#submit:disabled:hover {
  background-color: #54514c;
  border-radius: 12px;
}

.radio-group {
  display: inline;
}

@media only screen and (max-width: 620px) {
  .radio-group {
    display: block;
  }

  #formContainer {
    width: 60%;
    margin: auto;
  }
}

.error-message {
  margin-bottom: 8px;
}


.hidden {
  display: none;
}